
<div class="text-center">
  <h3 class="title">Stay informed</h3>
  <p class="description">
    Myeloma Tracker is curently in development and will be available soon. Be the first to know, join our newsletter. We hate spam too, so no worries about this.
  </p>
</div>
<div class="card-form-horizontal">
  <form action="//twitter.us16.list-manage.com/subscribe/post?u=d95877d73c57d12ba7f98e686&amp;id=c4674c707b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="row">
      <div class="col-xs-12 col-sm-8">

        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">mail</i>
          </span>
          <div class="form-group is-empty"><input type="email" value="" placeholder="Your Email..." class="form-control"><span class="material-input"></span></div>
        </div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d95877d73c57d12ba7f98e686_c4674c707b" tabindex="-1" value=""></div>
      <div class="col-xs-12 col-sm-4">
        <button type="button" class="btn btn-primary btn-block">Subscribe</button>
      </div>
    </div>
  </form>

</div>


